/*PESO DE CLASES
1-!important
2-ID -> estructuras, padres
3-CLASS ->
4-SELECTOR/ETIQUETA
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: none;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

ul, li {
  display: inline-block;
}

.footer_redes a, a:hover, a:active {
  color: black;
}

#body {
  max-width: 1920px;
  height: 100vh;
}

/*header*/
#header {
  width: 100%;
  background-color: grey;
  padding: 10px;
  top: 0;
}

#navbar {
  width: 100%;
  height: 100%;
}

.navBar_almacen_criollo {
  width: 100%;
  height: 100%;
}

/* 
#navBar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
} */
.logo_navbar {
  padding: 10px;
}

.ac_header_logo {
  width: 80px;
  height: 80px;
}

.navBar_ul {
  padding-right: 10px;
}

.navBar_ul li {
  padding: 0 20px;
  font-size: 20px;
}

.input-group {
  padding-left: 20px;
}

.nav-item {
  padding: 0px 10px;
}

/*main*/
#main {
  max-width: 100%;
  /*margin (para establecer los margenes de cada direccion): arriba - derecha - abajo - izquierda */
  /*margin mas simplificado: arriba y abajo - derecha e izquierda*/
  margin: 120px 0 auto 0;
  min-height: 100vh; /*vh = viewport height. se encarga de que el main ocupe toda la pantalla visible, a menos que se interpongan header o footer. esto hace, por ejemplo, que el footer quede siempre pegado al final de la pagina, y que no suba ante una posible falta/escasez de contenido en el main, dejando un espacio blanco por debajo del mismo*/
}

#mainIndex {
  max-width: 100%;
  margin: 0 0 auto 0;
  min-height: 100vh;
}

.titulo {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.section_presentacion {
  padding: 0 100px;
}

.img_presentacion {
  width: 100%;
  height: auto;
}

.p_presentacion {
  text-align: left;
}

.negrita {
  font-weight: bold;
}

h2 {
  font-size: 20px;
  text-align: center;
}

.p_recomendacion {
  font-size: 15px;
  text-align: center;
}

.section_recomendacion {
  padding: 20px 100px;
}

.a_recomendacion {
  display: flex;
  justify-content: center;
}

img {
  width: 100px;
  height: 100px;
}

.aside_publicidad p {
  font-size: 10px;
  text-align: center;
}

.aside_publicidad {
  padding: 50px;
}

/*footer*/
#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  padding: 30px; /*ayudado del 100vh puesto en el min-height del main, poniendole un padding suficiente, el footer no se movera del final de la pagina*/
}

.footer_logo_div img {
  width: 150px;
  height: 150px;
}

.footer_redes_ul li {
  padding: 0 5px;
}

.footer_redes a {
  text-decoration: none;
  transition: text-shadow 1s;
}

.footer_redes a:hover {
  text-shadow: 0 0 10px currentColor;
}

/*.footer_redes_ul {
    display: flex;
    flex-direction: column;
    ejemplo que hace que los elementos de un ul se acomoden de forma vertical
}*/
/* WHISKEY */
.producto_img {
  display: block;
  object-fit: cover;
}

.producto {
  min-height: 100%;
  padding: 10px;
  box-shadow: 10px 6px 30px -13px rgba(51, 51, 51, 0.74);
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.producto_contenido {
  padding: 10px;
}

.producto_titulo {
  text-align: center;
  margin-bottom: 10px;
}

.producto_footer {
  margin-top: 30px;
  text-align: center;
}

.producto_boton {
  padding: 10px 30px;
  background-color: rgb(4, 65, 100);
  color: white;
}

.producto_boton:hover {
  background-color: rgb(4, 65, 100);
}

#section_productos .producto_1 {
  grid-area: producto_1;
}

#section_productos .producto_2 {
  grid-area: producto_2;
}

#section_productos .producto_3 {
  grid-area: producto_3;
}

#section_productos {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "producto_1 producto_2 producto_3" ". . ." ". . ." ". . .";
  column-gap: 50px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

/* CONSULTAS */
#formConsultas ul {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
}

#formConsultas ul li {
  padding: 8px;
}

.btn_enviar_form a, a:hover, a:active {
  text-decoration: none;
  color: black;
  padding: 5px;
}

/* MATE */
.row {
  padding: 20px 0;
}

@media screen and (max-width: 800px) {
  #footer {
    flex-direction: column;
    text-align: center;
  }
  #footer div, nav {
    margin-top: 50px;
  }
  /* #navBar {
      hacer que la lista de links de navegacion se conviertan en un icono que al clickearlo despliegue tal lista  
  } */
}
@media screen and (max-width: 1300px) {
  #section_productos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "producto_1 producto_2" "producto_3 ." ". ." ". ." ". ." ". .";
  }
}
@media screen and (max-width: 900px) {
  #section_productos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: "producto_1" "producto_2" "producto_3" "." "." "." "." "." "." "." "." ".";
  }
  /* h1 {
      padding-top: 40px;
  } */
}

/*# sourceMappingURL=style.css.map */
