/*PESO DE CLASES
1-!important
2-ID -> estructuras, padres
3-CLASS ->
4-SELECTOR/ETIQUETA
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: none;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

ul, li {
  display: inline-block;
}

.footer_redes a, a:hover, a:active {
  color: black;
}

#body {
  max-width: 1920px;
  height: 100vh;
}

@media screen and (max-width: 991.5px) {
  #footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #footer .footer_logo_div, #footer .footer_copyright, #footer .div_redes {
    margin-top: 50px;
  }
  .row .almacen_criollo_card {
    padding: 20px 0;
  }
}
@media (min-width: 991.5px) {
  .d-lg-block {
    display: flex !important;
  }
}
#header {
  width: 100%;
  background-color: grey;
  padding: 10px;
  top: 0;
}

#navbar {
  width: 100%;
  height: 100%;
}

.navBar_almacen_criollo {
  width: 100%;
  height: 100%;
}

.logo_navbar {
  border: none;
  width: 80px;
  height: 80px;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.ac_header_logo {
  width: 80px;
  height: 80px;
}

.nav-item {
  padding: 0px 10px;
}

#navbarTogglerDemo02 {
  justify-content: center;
}
#navbarTogglerDemo02 ul .nav-link {
  font-size: 25px;
}

#main {
  max-width: 100%;
  /*margin (para establecer los margenes de cada direccion): arriba - derecha - abajo - izquierda */
  /*margin mas simplificado: arriba y abajo - derecha e izquierda*/
  margin: 150px 0 auto 0;
  min-height: 100vh; /*vh = viewport height. se encarga de que el main ocupe toda la pantalla visible, a menos que se interpongan header o footer. esto hace, por ejemplo, que el footer quede siempre pegado al final de la pagina, y que no suba ante una posible falta/escasez de contenido en el main, dejando un espacio blanco por debajo del mismo*/
}

.titulo {
  display: flex;
  justify-content: center;
  margin: 30px;
}

h2 {
  font-size: 20px;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
}

.row {
  padding-top: calc(var(--bs-gutter-x) * 0.5);
  padding-bottom: calc(var(--bs-gutter-x) * 0.5);
}

.almacen_criollo_card {
  padding: 20px;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  padding: 30px; /*ayudado del 100vh puesto en el min-height del main, poniendole un padding suficiente, el footer no se movera del final de la pagina*/
}

.footer_logo_div img {
  width: 150px;
  height: 150px;
}

.div_redes a {
  padding: 0 10px;
}

.fa-brands {
  font-size: 30px;
}

.footer_redes a {
  text-decoration: none;
}

.footer_copyright p {
  text-align: center;
}

#section_recomendacion .recomendaciones .caja {
  transition: 0.5s;
}
#section_recomendacion .recomendaciones .caja img {
  transition: 0.5s;
}
#section_recomendacion .recomendaciones .caja:hover {
  transition: 0.5s;
}
#section_recomendacion .recomendaciones .caja:hover img {
  transition: 0.5s;
}

.btn-primary, .btn-success, .btn-warning, .btn-secondary, .btn-danger {
  transition: 0.5s;
}

.btn-primary:hover, .btn-success:hover, .btn-warning:hover, .btn-secondary:hover, .btn-danger:hover {
  transition: 0.5s;
  transform: scale(1.2, 1.2);
}

.almacen_criollo_card {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.footer_redes a {
  transition: text-shadow 1s;
}
.footer_redes a:hover {
  text-shadow: 0 0 15px currentColor;
  transition: text-shadow 0.2s;
}

#mainIndex {
  max-width: 100%;
  margin: 110px 0 auto 0;
  min-height: 100vh;
}

.img_presentacion {
  width: 100%;
  height: auto;
}

#section_presentacion {
  padding: 0px 100px;
}
#section_presentacion .p_presentacion {
  text-align: center;
}

#section_recomendacion {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 50px 100px 50px;
}
#section_recomendacion .p_recomendacion {
  font-size: 15px;
  text-align: center;
}
#section_recomendacion .recomendaciones {
  display: flex;
  gap: 20px;
}
#section_recomendacion .recomendaciones .caja {
  height: 120px;
  width: 120px;
}
#section_recomendacion .recomendaciones .caja img {
  height: 120px;
  width: 120px;
  border: 2px solid rgb(125, 118, 118);
  border-radius: 20px;
}
#section_recomendacion .recomendaciones .caja:hover {
  width: 180px;
  height: 180px;
}
#section_recomendacion .recomendaciones .caja:hover img {
  height: 180px;
  width: 180px;
}

#section_recomendacion_no_animacion {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 50px 100px 50px;
}
#section_recomendacion_no_animacion .p_recomendacion {
  font-size: 15px;
  text-align: center;
}
#section_recomendacion_no_animacion .recomendaciones {
  display: flex;
  gap: 20px;
}
#section_recomendacion_no_animacion .recomendaciones .caja {
  height: 100px;
  width: 100px;
}
#section_recomendacion_no_animacion .recomendaciones .caja img {
  height: 100px;
  width: 100px;
  border: 2px solid rgb(125, 118, 118);
  border-radius: 20px;
}

.aside_publicidad p {
  font-size: 10px;
  text-align: center;
}

.aside_publicidad {
  padding: 50px;
}

.almacen_criollo_card img {
  width: 100%;
  height: 100%;
}
.almacen_criollo_card figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#formConsultas ul {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
}

#formConsultas ul li {
  padding: 8px;
}

/*# sourceMappingURL=style.css.map */
