@media screen and (max-width: 991.5px) {
    #footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        .footer_logo_div, .footer_copyright, .div_redes {
            margin-top: 50px;
        }
    }
    .row {
        .almacen_criollo_card {
            padding: 20px 0;
        }
    }
    // #section_recomendacion_no_animacion {
    //     display: flex;
    // }
    // #section_recomendacion {
    //     display: none;
    // }
}
// desde bootstrap
@media (min-width: 991.5px) {
    .d-lg-block {
        display: flex !important; // cambie block por flex
    }
}