@media screen and (max-width: 991.5px) {
    #footer {
        flex-direction: column;
        text-align: center;
        div {
            margin-top: 50px;
        }
    }
    .row {
        .almacen_criollo_card {
            padding: 20px 0;
        }
    }
}