#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    padding: 30px; /*ayudado del 100vh puesto en el min-height del main, poniendole un padding suficiente, el footer no se movera del final de la pagina*/
}

.footer_logo_div {
    img {
        width: 150px;
        height: 150px;
    }
}

.div_redes {
    a {
        padding: 0 10px;
    }
}

.fa-brands {
    font-size: 30px;
}

.footer_redes a {
    text-decoration: none;
}

.footer_copyright {
    p {
        text-align: center;
    }
}