#main {
    max-width: 100%;
    /*margin (para establecer los margenes de cada direccion): arriba - derecha - abajo - izquierda */
    /*margin mas simplificado: arriba y abajo - derecha e izquierda*/
    margin: 120px 0 auto 0;
    min-height: 100vh; /*vh = viewport height. se encarga de que el main ocupe toda la pantalla visible, a menos que se interpongan header o footer. esto hace, por ejemplo, que el footer quede siempre pegado al final de la pagina, y que no suba ante una posible falta/escasez de contenido en el main, dejando un espacio blanco por debajo del mismo*/
}

#mainIndex {
    max-width: 100%;
    margin: 0 0 auto 0;
    min-height: 100vh;
}

.titulo {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.section_presentacion {
    padding: 0 100px;
}

.img_presentacion {
    width: 100%;
    height: auto;
}

.p_presentacion {
    text-align: left;
}

.negrita {
    font-weight: bold;
}

h2 {
    font-size: 20px;
    text-align: center;
}

.p_recomendacion {
    font-size: 15px;
    text-align: center;
}

.section_recomendacion {
    padding: 20px 100px;
}

.a_recomendacion {
    display: flex;
    justify-content: center
}

img {
    width: 100px;
    height: 100px;
}

.aside_publicidad p {
    font-size: 10px;
    text-align: center;
}

.aside_publicidad {
    padding: 50px;
}