*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350 !important;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

ul, li {
    display: inline-block;
}

a, a:hover, a:active {
    color: black;
}

#body {
    max-width: 1920px;
    height: 100vh;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}