#formConsultas ul {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
}

#formConsultas ul li {
    padding: 8px;
}

.btn_enviar_form a, a:hover, a:active {
    text-decoration: none;
    color: black;
    padding: 5px;
}