$transition-half-second: .5s;
// recomendaciones index
#section_recomendacion {
    .recomendaciones {
        .caja, :hover {
            transition: $transition-half-second;
            img {
                transition: $transition-half-second;
            }
        }
    }
}
// botones btn de bootstrap
.btn, :hover {
    transition: $transition-half-second;
}
.btn:hover {
    transform: scale(1.2, 1.2);
}
// animaciones aparicion cards de productos
.almacen_criollo_card {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
// footer
.footer_redes {
    .div_redes {
        a {
            transition: text-shadow 1s;
        }
        & :hover {
            text-shadow: 0 0 15px currentColor;
            transition: text-shadow .2s;
        }
    }
}