#animaciones {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .box {
        display: flex;
        gap: 20px;
        .caja {
            height: 80px;
            width: 80px;
            transition: .5s; // esta es la transicion de vuelta, es decir cuando saco el cursor del elemento que tiene animacion
        }
    }
    /* gradientes */
    .animacionesBox1 {
        .caja1 {
            background-image: radial-gradient(blue, green);
        }
    }
    .animacionesBox2 {
        .caja1 {
            background-color: rgb(68, 5, 244);
        }
        .caja2 {
            background-image: radial-gradient(black, white);
        }
        .caja3 {
            background-image: radial-gradient(ellipse 10px 20px, violet, brown);
        }
        .caja4 {
            background-image: linear-gradient(yellow, orange, purple);
        }
    }
    .animacionesBox3 {
        .caja {
            background-color: rgb(9, 222, 222);
        }
    }
    /* transformaciones */
    /* translate
    1. el primer valor controla el eje x
    2. el segundo valor controla el eje y
                              X        Y
    3. valores positivos -> derecha / abajo
    4. valores negativos -> izquierda / arriba*/
    .animacionesBox2 {
        .caja1:hover {
            transform: translate(-30px, 20px);
            transition: .5s;
        }
    }
    /* rotate
    1. valores positivos: rota hacia la derecha (sentido horario)
    2. valores negativos: rota hacia la izquierda (sentido antihorario)*/
    .animacionesBox2 {
        .caja2:hover {
            transform: rotate(180deg);
            transition: .5s;
        }
    }
    /* scale
    1. primer valor: ancho (ejex)
    2. segundo valor: largo (ejey)
    3. valores > 1: agrandan
    4. valores = 1 o 0: achican
    5. valores < 0: escalan invertido (dan vuelta)
    */
    .animacionesBox2 {
        .caja3:hover {
            transform: scale(1.2, 1.2);
            transition: .5s;
        }
    }
    /* skew
    1. primer valor: ejex
    2. segundo valor: ejey
    3. valores > 1: agrandan
    4. valores = 1 o 0: achican
    5. valores < 0: escalan invertido (dan vuelta) */
    .animacionesBox2 {
        .caja4:hover {
            transform: skew(10deg, 10deg);
            transition: .5s;
        }
    }
    /* animaciones */
    .animacionesBox3 {
        .caja:hover {
            width: 200px;
            height: 200px;
            transition: height .5s, width .5s;
        }
    }
}