// recomendaciones index
#section_recomendacion {
    .recomendaciones {
        .caja {
            transition: .5s;
            img {
                transition: .5s;
            }
        }
        & :hover {
            transition: .5s;
            img {
                transition: .5s;
            }
        }
    }
}
// main productos
.card {
    .card-body {
        .figure-card {
            figcaption {
                div {
                    .btn {
                        transition: .5s;
                    }
                    & :hover {
                        transition: .5s;
                        transform: scale(1.2, 1.2);
                    }
                }
            }
        }
    }
}
.modal {
    .modal-dialog {
        .modal-content {
            .modal-footer {
                .btn {
                    transition: .5s;
                }
                & :hover {
                    transition: .5s;
                    transform: scale(1.2, 1.2);
                }
            }
        }
    }
}
.almacen_criollo_card {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
// footer
.footer_redes {
    .div_redes {
        a {
            transition: text-shadow 1s;
        }
        & :hover {
            text-shadow: 0 0 15px currentColor;
            transition: text-shadow .2s;
        }
    }
}