// recomendaciones index
#section_recomendacion {
    .recomendaciones {
        .caja {
            transition: .5s;
            img {
                transition: .5s;
            }
        }
        .caja:hover {
            transition: .5s;
            img {
                transition: .5s;
            }
        }
    }
}
// main productos
.btn-primary, .btn-success, .btn-warning, .btn-secondary {
    transition: .5s;
}
.btn-primary:hover, .btn-success:hover, .btn-warning:hover, .btn-secondary:hover {
    transition: .5s;
    transform: scale(1.2, 1.2);
}
.btn-danger {
    transition: 1s;
}
.btn-danger:hover {
    transition: 1s;
    transform: rotate(360deg);
}
.almacen_criollo_card {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
// footer
.footer_redes {
    a {
        transition: text-shadow 1s;
    }
    a:hover {
        text-shadow: 0 0 15px currentColor;
        transition: text-shadow .2s;
    }
} 