#mainIndex {
    max-width: 100%;
    margin: 110px 0 auto 0;
    min-height: 100vh;
    button {
        background: none;
        border: none;
        cursor: pointer;
    }
    .img_presentacion {
        width: 100%;
        height: auto;
    }
    #section_presentacion {
        padding: 0px 100px;
        .titulo {
            text-align: center;
            margin: 30px;
        }
        .p_presentacion {
            text-align: center;
        }
    }
    #section_recomendacion, #section_recomendacion_no_animacion {
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px 50px 100px 50px;
        h2 {
            font-size: 20px;
            text-align: center;
        }
        .p_recomendacion {
            font-size: 15px;
            text-align: center;
        }
        .recomendaciones {
            display: flex;
            gap: 20px;
            .caja {
                height: 120px;
                width: 120px;
                img {
                    height: 100%;
                    width: 100%;
                    border: 2px solid rgb(125, 118, 118);
                    border-radius: 20px;
                }
            }
        }
    }
    #section_recomendacion {
        .caja:hover {
            width: 180px;
            height: 180px;
        }
    }
    .aside_publicidad {
        padding: 50px;
        p {
            font-size: 10px;
            text-align: center;
        }
    }
}