.almacen_criollo_card {
    img {
        width: 100%;
        height: 100%;
    }
    figcaption {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}